# i3 config file (v4) for Regolith Desktop Environment
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

# i3xrocks config file
set $i3xrocks_config /etc/regolith/i3xrocks/config

# compton config file
set $compton_config /etc/regolith/compton/config

# path to terminal. Override this to specify a custom terminal.
set $terminal_path /usr/bin/terminator

# start a terminal
bindsym $mod+space exec $terminal_path

# rofi app and window launchers
bindsym $mod+Return exec rofi -show drun -theme $rofiTheme
bindsym $mod+Shift+space exec rofi -show run -theme $rofiTheme
bindsym $mod+Ctrl+space exec rofi -show window -theme $rofiTheme

# toggle split orientation
bindsym $mod+BackSpace split toggle

# toggle tiling / floating
bindsym $mod+Shift+f floating toggle

# change focus between tiling / floating windows
bindsym $mod+Shift+t focus mode_toggle

# Logout of session
bindsym $mod+Shift+l exec /usr/bin/gnome-session-quit --logout

# Reboot computer
bindsym $mod+Shift+b exec /usr/bin/gnome-session-quit --reboot

# Power off computer
bindsym $mod+Shift+p exec /usr/bin/gnome-session-quit --power-off

# lock the screen
bindsym $mod+Escape exec gnome-screensaver-command --lock

# Configure the bar
bar {
  position top
  font $i3-wm.bar.font
  separator_symbol " "
  status_command i3xrocks -c $i3xrocks_config
  tray_output primary
  strip_workspace_numbers yes

  colors {
      background $i3-wm.bar.background.color
      statusline $i3-wm.bar.statusline.color
      separator  $i3-wm.bar.separator.color

#                        BORDER  BACKGROUND TEXT
      focused_workspace  $i3-wm.bar.workspace.focused.border.color      $i3-wm.bar.workspace.focused.background.color   $i3-wm.bar.workspace.focused.text.color
      active_workspace   $i3-wm.bar.workspace.active.border.color       $i3-wm.bar.workspace.active.background.color    $i3-wm.bar.workspace.active.text.color
      inactive_workspace $i3-wm.bar.workspace.inactive.border.color     $i3-wm.bar.workspace.inactive.background.color  $i3-wm.bar.workspace.inactive.text.color
      urgent_workspace   $i3-wm.bar.workspace.urgent.border.color       $i3-wm.bar.workspace.urgent.background.color    $i3-wm.bar.workspace.urgent.text.color
  }
}

# default container layout
workspace_layout stacking

# set output
set $display1 eDP-1
set $display2 DP-1

# workspace in display
workspace $ws1 output $display1
workspace $ws2 output $display1
workspace $ws3 output $display1
workspace $ws4 output $display1
workspace $ws5 output $display2

# layout key bindings

bindsym $mod+h split h
bindsym $mod+v split v

bindsym $mod+k layout stacking
bindsym $mod+t layout tabbed

# function keys

bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioPrev exec playerctl previous
bindsym XF86AudioNext exec playerctl next
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86MonBrightnessUp exec brightnessctl set +5%

# Run programs when i3 starts

# Start the composite manager
exec --no-startup-id compton -f --config $compton_config

# Launch the shortcut Conky window on first login
exec --no-startup-id /usr/bin/regolith-ftue

# Hide the mouse pointer if unused for a duration
exec --no-startup-id /usr/bin/unclutter -b

# Refresh wallpaper on screen resolution change
exec --no-startup-id /usr/bin/xeventbind resolution /usr/bin/wallpaper-refresh
