[global_config]
  title_font = Fira Code 11
  title_use_system_font = False
  window_state = maximise
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#20242c"
    background_darkness = 0.9
    background_type = transparent
    cursor_blink = False
    cursor_color = "#aaaaaa"
    cursor_shape = ibeam
    font = Fira Code 11
    foreground_color = "#c0c2c5"
    icon_bell = False
    palette = "#20242c:#bf616a:#85db67:#fcaf3e:#5e81ac:#b48ead:#88c0d0:#c0c2c5:#4c566a:#bf616a:#4ad4ce:#f57900:#ffcb45:#caa6ec:#8fbcbb:#d1d9d9"
    scrollback_infinite = True
    show_titlebar = False
    use_system_font = False
