
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}
.result-expr {
    font-size: .8em;
    color: #555;
}

.result-result {
    padding-top: .5em;
    font-weight: bold;
}
